<p>test-pf2 works!</p>

<body>
    <!-- <iframe  width="1200" height="1250" [src]="getUrl('http://pf1.auf.co.uk//budget?id=D4G7nhbs4y')" frameborder="0"></iframe> -->

    <!-- <iframe src="https://pf1.auf.co.uk/budget?id=D4G7nhbs4y" scrolling="no"
        style="width: 1200px; height: 1250px; display: block; margin: auto; position: relative; top: 0; bottom: 0; left: 0; right: 0;">
    </iframe> -->

    <!-- <script>
        const params = new URLSearchParams({
            type: 'LCV',
            identifier: 'WX68VME',
            identifierType: 'Vrm',
            isNew: 'false',
            cashPrice: '36995',
            imageUrl: 'https://www.dealermanager.co.uk/images/202408/large/DM2300-uieqgzgm.JPG',
            linkBackUrl: 'https://www.scarsltd.co.uk/detail/1337528/used-mercedes-benz-x-class-3-0-x350-d-4matic-power-4dr-automatic-oldham',
            mileage: '35467',
            registrationDate: '2018-12-28',
            registrationNumber: 'WX68VME',
            depositDefaultValue: '10.00',
            depositDefaultType: 'Percentage',
            termDefaultValue: '60',
            annualMileageDefaultValue: '8000'
        });
    
        document.write(`<iframe src="http://localhost:4200?${params.toString()}" width="600" height="400" frameborder="0" allowfullscreen></iframe>`);
    </script> -->
    <!-- <iframe [src]="http://localhost:4200/budget?id=glvjhfai&type=Car&identifier=GY20NYU&identifierType=Vrm&isNew=false&cashPrice=18995&imageUrl=https%3A%2F%2Fwww.dealermanager.co.uk%2Fimages%2F202310%2Flarge%2FDM2300-dttvmkcz.jpg&linkBackUrl=https%3A%2F%2Fwww.scarsltd.co.uk%2Fdetail%2F1316837%2Fused-mercedes-benz-cla-1-3-cla-200-amg-line-4dr-semi-automatic-oldham&mileage=70000&registrationDate=2020-07-10&registrationNumber=WX68VME&depositDefaultValue=10.00&depositDefaultType=Percentage&termDefaultValue=60&annualMileageDefaultValue=8000" width="1500" height="1350"  scrolling="no" frameborder="0" allowfullscreen></iframe> -->
    <!-- <iframe [src]=iframeSrc scrolling="no"
        style="width: 1200px; height: 1250px; display: block; margin: auto; position: relative; top: 0; bottom: 0; left: 0; right: 0;">
    </iframe> -->
    <iframe [src]="iframeSrc"width="100%" height="1350"  scrolling="yes" frameborder="0" allowfullscreen></iframe>

    <!-- <iframe [src]="iframeSrc" width="100%" height="1350"></iframe> -->

    <!-- <iframe [src]=iframeSrc scrolling="no"
        style="width: 1200px; height: 1250px; display: block; margin: auto; position: relative; top: 0; bottom: 0; left: 0; right: 0;">
    </iframe>



    <!-- <iframe src="http://localhost:4200" scrolling="no"
    style="width: 1200px; height: 1250px; display: block; margin: auto; position: relative; top: 0; bottom: 0; left: 0; right: 0;">
</iframe> -->
</body>
